.container {
    background: url("./cover.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.layer {
    height: 100vh;
}
.hero {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    padding: 20px 30px;
}

span {
    color: var(--primary-color);
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    display: block;
}

input {
    border: none;
    outline-color: var(--primary-color);
    height: 30px;
    width: 300px;
    margin: 20px 0px;
    padding: 10px;
}

.sign {
    padding: 10px;
    width: 100px;
    margin: 20px auto;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.sign:hover {
    background-color: var(--primary-color);
    color: var(--main-color);
}

.errorMassage {
    color: rgb(211, 71, 71);
    text-align: center;
}

.link {
    color: aliceblue;
    text-align: center;
}

.link .inside {
    color: var(--primary-color);
   
}